body {
    font-family: Arial, sans-serif;
    background-color: #f9f2c4;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-shadow: none;
    border-radius: 0;
    background-color: #f9f2c4;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #333;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 48px;
}

p {
    font-size: 18px;
    color: #666;
}

.opciones {
    margin: 20px 0;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    transition: background-color 0.3s ease;
}

label:hover {
    background-color: rgba(0, 128, 0, 0.2); /* Color verde claro casi nítido */
}

input[type="radio"]:checked + label {
    background-color: #006400; /* Color verde más oscuro */
    color: white;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    box-sizing: border-box;
    width: 100%;
}

.btn {
    background-color: #006400;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
}

.btn:hover {
    background-color: rgba(0, 128, 0, 0.2);
    color: #a47b00;
}

.input-email {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}